h1 Organiser deg!
h2 Situasjonen i dag
p Litt om problemene vi vil løse
h2 Hvordan organisasjoner hjelper
p Organisasjoner er bra fordi
ul
    li Statsstøtte
    li Mer oppmerksomhet fra medier og politikere
h2 Miljø og klima
p Dette er gode medlemsorganisasjoner hvis du er opptatt av miljø og klima
ul
    li 
        a(href="http://") Besteforeldrenes klimaaksjon
    li
        a(href="http://") Naturvernforbundet
h3 Hvis du er ungdom kan du også bli medlem i disse
ul
    li
        a(href="http://") Natur og Ungdom
    li
        a(href="https://") Spire